<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>ATND</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>kDefaultsSettingAtndNickname</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>ユーザー名</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>6</integer>
			<key>Key</key>
			<string>kDefaultsSettingAtndLoadDaysValue</string>
			<key>Title</key>
			<string>更新日数</string>
			<key>Titles</key>
			<array>
				<string>当日のみ</string>
				<string>２日</string>
				<string>３日</string>
				<string>４日</string>
				<string>５日</string>
				<string>６日</string>
				<string>１週間</string>
				<string>２週間</string>
				<string>３週間</string>
				<string>４週間</string>
				<string>５週間</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>13</integer>
				<integer>20</integer>
				<integer>27</integer>
				<integer>34</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>kDefaultsSettingAutoLoadingValue</string>
			<key>Title</key>
			<string>自動更新</string>
			<key>Titles</key>
			<array>
				<string>しない</string>
				<string>する</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
